{% load i18n %}

<div class="container flex-column my-4 pt-3 border-top">

  <img class='ml-2' src="https://cdn2.hexlet.io/assets/favicon-9213ff1fc34b4e2da96c3b3eb582b3d10180b250e993141d7928d6aa1f5647c1.ico" alt="Hexlet Logo" height="20px">
  <a style="vertical-align: text-top" target="_blank" href="https://hexlet.io">{% trans "Hexlet" %}</a>

  <img class='ml-3' src="https://github.githubassets.com/favicons/favicon.svg" alt="GitHub Logo" height="20px">
  <a style="vertical-align: text-top" target="_blank" href="https://github.com/ratushnyyvm/task-manager">{% trans "Source" %}</a>

</div> 